/* ================= RESET ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= VARIÁVEIS ================= */

:root {
    --primary-color: #f4b400;
    --red-color: rgb(230, 67, 67);
    --green-color: rgb(6, 122, 68);
    --light-yellow: #f5cd5f;

    --text-dark: #1e2a38;
    --text-light: #666;

    --white: #ffffff;

    --transition: 0.3s ease-in-out;
}

/* ================= BASE ================= */

body {
    font-family: 'Poppins', sans-serif;
    background: #f7f9fc;
    color: var(--text-dark);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ================= HEADER ================= */

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0%;
    background: var(--white);
    position: fixed;
    width: 100vw;
    z-index: 1000
}

.logo {
    font-weight: 700;
    font-size: 22px;
    color: var(--primary-color);
}

.nav {
    display: flex;
    align-items: center;
}

/* ================= MENU LINKS ================= */

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    position: relative;
    transition: var(--transition);
}

/* LINHA ANIMADA */

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;

    width: 0%;
    height: 2px;

    background: var(--primary-color);
    transition: 0.3s;
}

.nav a:hover {
    color: var(--primary-color);
}

.nav a:hover::after {
    width: 100%;
}

/* ================= MENU JOGOS ================= */

.menu-jogos {
    position: relative;
}

/* SETA */

.seta {
    font-size: 12px;
    margin-left: 5px;
    transition: 0.3s;
}

.menu-jogos:hover .seta {
    transform: rotate(180deg);
}

/* ================= SUBMENU ================= */

.submenu {
    position: absolute;
    top: 120%;
    left: 0;

    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    min-width: 170px;
    padding: 10px 0;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: 0.3s;
    z-index: 1000
}

.submenu a {
    padding: 10px 18px;
    margin: 0;
}

.submenu a:hover {
    background: rgba(0, 0, 0, 0.05);
    color: var(--primary-color);
}

.menu-jogos:hover .submenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.verGestor {
    display: none;
}

/* ================= BOTÕES HEADER ================= */

.auth-buttons {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

.acessoGestor {
    background: var(--primary-color);
    padding: 8px 18px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    transition: var(--transition);
}

.acessoGestor:hover {
    opacity: 0.9;
}

/* ================= MAIN ================= */

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 15%;
    gap: 40px;

    flex: 1;
}

.main-text {
    max-width: 50%;
}

.saudacao {
    letter-spacing: 2px;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 800;
}

.main-text h1 {
    font-size: 25px;
    margin: 20px 0;
}

.main-text h1 span {
    color: var(--primary-color);
    font-size: 40px;
}

.main-text p {
    margin-bottom: 30px;
    color: var(--text-light);
}

/* ================= BOTÕES ================= */

.buttons a {
    display: inline-block;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: 600;
    margin-right: 15px;
    transition: var(--transition);
}

.buttons a:hover {
    transform: scale(1.05);
}

.btn-acao {
    background: var(--primary-color);
    color: var(--white);
}

.btn-sobre {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

/* ================= SLIDER ================= */

.slider {
    width: 600px;
    height: 330px;
    overflow: hidden;
    margin: 40px auto;
    border-radius: 15px;
    position: relative;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
    animation: slide 16s infinite;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ANIMAÇÃO */

@keyframes slide {

    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    45% {
        transform: translateX(-25%);
    }

    50%,
    70% {
        transform: translateX(-50%);
    }

    75%,
    95% {
        transform: translateX(-75%);
    }

    100% {
        transform: translateX(0);
    }

}

/* ================= BANNERS ================= */

.banner {
    display: flex;
    justify-content: space-between;
    padding: 30px 15%;
    gap: 20px;
}

.banners {
    flex: 1;
    padding: 40px;
    color: var(--white);
    transition: var(--transition);
}

.banners:hover {
    transform: translateY(-5px);
}

.red {
    background: #ff6b6b;
}

.yellow {
    background: var(--primary-color);
}

.green {
    background: #2ecc71;
}

/* ================= QUEM SOMOS ================= */

.quem-somos-nos {
    padding: 30px 15%;
}

.alinharQSN {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}

.tituloQSN {
    text-align: center;
}

.h2-QNS {
    margin: 80px;
}

/* ================= MATERIAL EDUCATIVO ================= */

.sessao-educativo {
    padding: 60px 15%;
    text-align: center;
}

.h2-educacao {
    border-radius: 30px;
    border: 0.5px solid linear-gradient(180deg, #f5b400, #e6a600);
    letter-spacing: 5px;
    background: #f7f9fc;
    color: black;

    margin: 40px auto;
    padding: 10px 0;
    width: 81%;

    font-weight: 600;
    font-size: 20px;

    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.material-educativo {
    background: linear-gradient(180deg, #f5b400, #e6a600);

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    flex: 1;

    border-radius: 20px;
}

.container-educativo {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 40px 80px;
    gap: 60px;
}

.materiais {
    padding: 25px 40px;
    border-radius: 25px;
    border: 0.5px solid linear-gradient(180deg, #f5b400, #e6a600);
    flex: 1;

    background: var(--white);
    color: var(--text-dark);

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

    /* transition: var(--transition); */
}

/* .materiais:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
} */

.materiais h3{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.materiais span{
    display: block;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 18px;
    opacity: 0.9;
}

.materiais a{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

    padding: 8px 16px;
    border-radius: 8px;

    background: var(--primary-color);
    color: black;

    transition: var(--transition);
}

.materiais a:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* ================= CONTATO COSNOSCO  ================= */
.contatoConosco {
    padding: 30px 15%;
    text-align: center;
}

.h1Contatoconosco {
    margin-top: 30px;
}

/* ================= FAQ ================= */

.perguntas-frequentes {
    padding: 30px 15%;
}

.h1-faq {
    margin-top: 30px;
}

.pergunta {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;

    margin: 15px 0;
    font-size: 18px;
    background: var(--white);
}

.pergunta input,
.pergunta .answer {
    display: none;

    color: var(--text-light);
    border-top: 1px solid rgb(230, 230, 230);

    padding: 5px 0;
    font-size: 15px;
}

.pergunta label {
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
}

.pergunta input:checked~.answer {
    display: block;
}

.formSolicitarVisita {
    padding: 70px 15%;
    padding-bottom: 0px;
    height: 100vh;
}

/* ================= FOOTER ================= */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 20px 8%;
    background: var(--white);

    margin-top: auto;
}

.img-footer {
    width: 100px;
}

/* ================= RESPONSIVO TABLET ================= */

@media (max-width:992px) {

    .header {
        flex-wrap: wrap;
        gap: 15px;
    }

    .main {
        flex-direction: column;
        text-align: center;
        padding: 60px 10%;
    }

    .main-text {
        max-width: 100%;
    }

    .slider {
        width: 100%;
        max-width: 500px;
        height: 280px;
    }

    .banner {
        flex-direction: column;
        padding: 40px 10%;
    }

    .alinharQSN {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .container-educativo {
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }

}

/* ================= RESPONSIVO CELULAR ================= */

@media (max-width:768px) {

    /* MAIN */

    .main {
        padding: 40px 8%;
    }

    .main-text h1 {
        font-size: 20px;
    }

    .main-text h1 span {
        font-size: 28px;
    }

    .buttons a {
        display: block;
        margin: 10px auto;
    }

    /* SLIDER */

    .slider {
        width: 100%;
        height: 200px;
    }

    /* BANNERS */

    .banners {
        padding: 25px;
        text-align: center;
    }

    /* QUEM SOMOS */

    .quem-somos-nos {
        padding: 30px 8%;
    }

    .h2-QNS {
        margin: 20px;
        font-size: 20px;
    }

    /* MATERIAIS */

    .sessao-educativo {
        padding: 30px 8%;
    }

    .container-educativo {
        padding: 20px;
        gap: 20px;
    }

    .materiais {
        height: auto;
    }

    /* FAQ */

    .perguntas-frequentes {
        padding: 30px 8%;
    }

    /* FOOTER */

    footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .img-footer {
        width: 80px;
    }

}

@media (max-width:750px) {

    .header {
        flex-direction: column;
        text-align: center;
        gap: 05px;
    }

    .nav {
        flex-direction: row;
        gap: 10px
    }

    .nav a {
        margin: 10px 0;
    }

    .auth-buttons {
        display: none;
    }

    .verGestor {
        display: block;
    }

}

@media (max-width:400px) {
    .h2-educacao {
        width: 88.5%;
    }

    .materiais {
        max-width: 100%;
        padding: 10px;
    }
}